<footer>
    <div class="container">
        <div class="text-center">
            <ul class="sitemap">
                <li><a href="https://www.pumlhorse.com">Main site</a></li>
                <li><a href="https://github.com/pumlhorse">Pumlhorse on Github</a></li>
                <li><i class="fa fa-twitter"></i> <a href="http://www.twitter.com/pumlhorse" target="_blank">pumlhorse</a></li>
            </ul>
            <br/>
            Want to improve this site? <i class="fa fa-github"></i> <a href="https://github.com/pumlhorse/pumlhorse.github.io">Submit a Pull Request!</a>
            <br />&copy; {{ site.time | date: '%Y' }} <a href="https://www.getrevelio.com">Revelio</a>
        </div>
    </div>
</footer>
{% include analytics.html %}