<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Language" content="en-us" />
  <meta name="theme-color" content="#414141">
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" type="image/x-icon" href="/fav.ico">
  <title>{{ page.title }} | Pumlhorse</title>
  <link href='//fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link href="/css/site2.css" rel="stylesheet" type="text/css" />
  <link href="/css/site.css" rel="stylesheet" type="text/css" />
  <link href="/css/syntax.css" rel="stylesheet" type="text/css" />
  <script async="" src="//www.google-analytics.com/analytics.js"></script>
</head>