<ul>
    <li class="page"><a href="/v1">Introduction</a></li>
    <li class="folder">
        PUML
        <ul>
            <li class="page"><a href="/v1/scripts/assertions">Assertions</a></li>
            <li class="page"><a href="/v1/scripts/flowControl">Flow Control</a></li>
            <li class="page"><a href="/v1/scripts/http">HTTP Functions</a></li>
            <li class="page"><a href="/v1/scripts/usingModules">Using Modules</a></li>
            <li class="page"><a href="/v1/scripts/inlineJavaScript">Inline JavaScript</a></li>
            <li class="page"><a href="/v1/scripts/miscellaneous">Miscellaneous</a></li>
        </ul>
    </li>
    <li><a href="/v1/commandLine">Command Line</a></li>
    <li class="folder">
        Custom Modules
        <ul>
            <li class="page"><a href="/v1/modules/customModules">Creating a Module</a></li>
            <li class="page"><a href="/v1/modules/api">Module API</a></li>
        </ul>
    </li>
    <li class="page"><a href="/v1/filters">Filters</a></li>
    <li class="page"><a href="/v1/availableModules">Available Modules</a></li>
</ul>