<ul>
    <li class="folder"><a href="/reference/engine/v2/lessons">Lessons</a></li>
    <li class="folder"><a href="/reference/engine/v2/functions">Functions</a></li>
    <li class="page"><a href="/reference/engine/v2/script_schema">Script Schema</a></li>
    <li class="page"><a href="/reference/engine/v2/profile_schema">Profile Schema</a></li>
    <li class="page"><a href="/reference/engine/v2/scope">Scope information</a></li>
    <li class="page"><a href="/reference/engine/v2/modules">Modules</a></li>
</ul>